{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="text-center" id="signin-wrapper">
        <form method="post" action="{{ path('security_login') }}" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <input type="email" value="{{ last_username }}" name="email" class="form-control"
                   placeholder="Email" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password"
                   required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="_remember_me"> Remember me
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-2">
                No account ? <a href="{{ path('security_register') }}">Register now !</a>
            </p>
        </form>
    </div>
{% endblock %}
