{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} - posts{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% for sub in category.subcategories %}
        <a class="list-item-link" href="{{ path('sub_category_show', {'id': sub.id}) }}">
            <div class="post-container">
                <div class="row list-row">
                    <div class="col-12">
                        <span onclick="document.location.href={{ path('category_show', {'id': sub.category.id}) }}"
                              class="badge badge-primary">{{ sub.category.name }}</span>
                        <span>{{ sub.name }}</span><br/>
                        <span>{{ sub.posts|length }} posts</span>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <a href="{{ path('category_index') }}">back to list</a><br/>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
