{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div id="accordion">
            <h2 class="mb-0">Categories</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="mb-4 mt-2">
                    <a class="btn btn-primary" href="{{ path('category_new') }}"><i class="fas fa-plus"></i></a>
                </div>
            {% endif %}
            {% for categorie in categories %}
                <div class="card">
                    <div class="card-header" id="heading{{ loop.index }}" data-toggle="collapse"
                         data-target="#collapse{{ loop.index }}"
                         aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        <h5 class="mb-0">
                            <a href="{{ path('category_show', {'slug': categorie.slug}) }}">
                                c/{{ categorie.name }}
                            </a>
                        </h5>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading{{ loop.index }}">
                        <div class="card-body">
                            <ul class="list-group">
                                <h4 class="mb-3">Sub categories</h4>
                                {% for subcategory in categorie.subcategories %}
                                    <a class="list-group-item" href="{{ path('subcategory_show', {'slug': subcategory.slug}) }}">
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>r/{{ subcategory.name }}</span>
                                            <span class="badge badge-primary badge-pill">{{ subcategory.posts|length }}</span>
                                        </li>
                                        {% set posts = subcategory.posts|reverse %}
                                        <small style="color: #333;">{{ posts is not empty ? 'Last post ' ~ posts[0].createdAt|timeago : 'No post here' }}</small>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
