{% extends 'base.html.twig' %}

{% block title %}{{ subcategory.name }} - posts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-4">{{ subcategory.name }}</h2>
        <div class="dropdown">
            {% set sort = app.request.query.get('sort') is not null ? app.request.query.get('sort') : 'new' %}
            SORT&nbsp;
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ sort|upper }}
            </button>
            <div class="dropdown-menu secondary" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item {{ sort == 'hot' ? 'active bg-secondary' : '' }}"
                   href="{{ path('subcategory_show', {'slug':subcategory.slug, 'sort': 'hot'}) }}">
                    <i class="fas fa-fire"></i>&nbsp;&nbsp;HOT
                </a>
                <a class="dropdown-item {{ sort == 'new' ? 'active bg-secondary' : '' }}"
                   href="{{ path('subcategory_show', {'slug':subcategory.slug, 'sort': 'new'}) }}">
                    <i class="fas fa-certificate"></i>&nbsp;&nbsp;NEW
                </a>
                <a class="dropdown-item {{ sort == 'top' ? 'active bg-secondary' : '' }}"
                   href="{{ path('subcategory_show', {'slug':subcategory.slug, 'sort': 'top'}) }}">
                    <i class="fas fa-arrow-up"></i>&nbsp;&nbsp;TOP
                </a>
            </div>
        </div>
        <div class="list-group mt-4">
            {% for post in posts %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-1 buttons-vote" align="center">
                            <button class="upvote-btn {% if post.upvotes.contains(app.user) %}text-info{% endif %}"
                                    onclick="upVote(this, event, {{ post.id }})" title="upvote">
                                <i class="fas fa-sort-up"></i>
                            </button>
                            <span class="karma-count">{{ post.upvotes|length - post.downvotes|length }}</span>
                            <button class="downvote-btn {% if post.downvotes.contains(app.user) %}text-warning{% endif %}"
                                    onclick="downVote(this, event, {{ post.id }})" title="downvote">
                                <i class="fas fa-sort-down"></i>
                            </button>
                        </div>
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <a href="{{ path('post_show', {'slug': post.slug, 'id': post.id}) }}">{{ post.title }}</a>
                                </h5>
                                <small>
                                    {{ post.createdAt|timeago }}
                                </small>
                            </div>
                            <p>
                                Posted by <a
                                        href="{{ path('user_show', {'username': post.author.username}) }}">u/{{ post.author.username }}</a>
                            </p>
                            {% if post.image is not null %}
                                <div class="post-image row justify-content-center">
                                    <div>
                                        <a href="{{ path('post_show', {'id':post.id, 'slug':post.slug}) }}">
                                            <img src="{{ asset('uploads/images/posts/' ~ post.image) }}" alt=""/>
                                        </a>
                                    </div>
                                </div>
                            {% elseif post.ytlink is not null %}
                                <div class="row justify-content-center">
                                    <div class="embed-responsive embed-responsive-16by9 col-10">
                                        <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/{{ post.ytlink }}"
                                                frameborder="0"
                                                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                                                height="200" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            {% else %}
                                <p class="post-content">{{ post.content|linkify|raw }}</p>
                            {% endif %}
                            <small>
                                <span><i class="far fa-comment-alt"></i>&nbsp;{{ post.messages|length > 1 ? post.messages|length ~ ' comments' : post.messages|length ~ ' comment' }}</span>
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('subcategory_edit', {'slug': subcategory.slug}) }}">edit</a>
        <a href="{{ path('post_new', {'subcategory': subcategory.id}) }}">New</a>

        {{ include('subcategory/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let html = $('.dropdown-menu > .active').html();
            $('#dropdownMenuButton').html(html);
        })

        function upVote(btn, event, postId) {
            event.stopImmediatePropagation();
            postId = postId.toString();
            console.log($(btn).parent().find('.karma-count').text())
            let url = '{{ path('post_upvote', {'id': 'postId'}) }}'
            url = url.replace('postId', postId);
            $.ajax({
                method: 'POST',
                url: url,
                type: 'text',
                success: function (res) {
                    let curKarma = $(btn).parent().find('.karma-count').text()
                    if (res == 'added') {
                        $(btn).addClass('text-info')
                        if ($(btn).next().next().hasClass('text-warning')) {
                            curKarma++
                        }
                        $(btn).next().next().removeClass('text-warning');
                        $(btn).parent().find('.karma-count').text(+curKarma + 1)
                    } else if (res == 'removed') {
                        $(btn).removeClass('text-info')
                        $(btn).parent().find('.karma-count').text(+curKarma - 1)
                    } else if (res == 'login') {
                        location.href = '{{ path('security_login') }}'
                    }
                }
            })
        }

        function downVote(btn, event, postId) {
            event.stopImmediatePropagation();
            postId = postId.toString();
            let url = '{{ path('post_downvote', {'id': 'postId'}) }}'
            url = url.replace('postId', postId);
            $.ajax({
                method: 'POST',
                url: url,
                type: 'text',
                success: function (res) {
                    let curKarma = $(btn).parent().find('.karma-count').text()
                    if (res == 'added') {
                        $(btn).addClass('text-warning')
                        if ($(btn).prev().prev().hasClass('text-info')) {
                            curKarma -= 1
                        }
                        $(btn).prev().prev().removeClass('text-info');
                        $(btn).parent().find('.karma-count').text(+curKarma - 1)
                    } else if (res == 'removed') {
                        $(btn).removeClass('text-warning')
                        $(btn).parent().find('.karma-count').text(+curKarma + 1)
                    } else if (res == 'login') {
                        location.href = '{{ path('security_login') }}'
                    }
                }
            })
        }
    </script>
{% endblock %}
