{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <h1>Edit Message</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" form="form-comment-post" class="btn btn-primary">Update</button>
    {{ form_end(form) }}

    <a class="btn btn-link" href="{{ path('post_show', {'id': message.post.id, 'slug': message.post.slug}) }}">Back to post</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
