{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <h1>Edit Message</h1>

    {{ include('message/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-link" href="{{ path('post_show', {'id': message.post.id, 'slug': message.post.slug}) }}">Back to post</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function updateFileInput() {
            let input = $('#message_imageFile_file');
            let filePath = $(input).val()
            fileSplit = filePath.split('\\')
            fileName = fileSplit[fileSplit.length - 1]
            $('.btn-label-text').html(fileName)
            if($(input).val().length === 0) {
                $('#message_content').attr('required', 'required')
            } else {
                $('#message_content').removeAttr('required')
            }
        }

        function handleCheckbox(input) {
            console.log($(input).is(':checked'))
            if ($(input).is(':checked')) {
                $('#message_content').attr('required', 'required')
            } else {
                if($('#message_imageFile_file').val().length === 0 && '{{ message.image }}' == null) {
                    $('#message_content').attr('required', 'required')
                } else {
                    $('#message_content').removeAttr('required')
                }
            }
        }
        $(document).ready(function() {
            {% if message.image is not null %}
            $('.btn-label-text').html('{{ message.image }}')
            $('#message_content').removeAttr('required')
            {% endif %}
            handleCheckbox($('#message_imageFile_delete'))
        })

        $('#message_imageFile_file').on('change', function () {
            updateFileInput()
        })

        $('#message_imageFile_delete').on('change', function () {
            handleCheckbox(this)
        })
    </script>
{% endblock %}
