{% set post = app.request.attributes.get('_route_params')['post'] %}
{{ form_start(form, {'attr': {'id': 'form-comment-post', 'class': 'form-hide-file', 'action': path('message_new', {'post': post}) } }) }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.imageFile) }}
<div class="mt-2">
    <button type="submit" form="form-comment-post" class="btn btn-primary">Comment</button>
    <label class="btn btn-secondary btn-label" for="{{ form.imageFile.file.vars.id }}">Image</label>
    <span class="btn-label-text"></span>
</div>
{{ form_end(form) }}