{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container mt-2">
        <span>
            <a class="badge badge-primary"
               href="{{ path('subcategory_show',{'slug':post.subcategory.slug}) }}">{{ post.subcategory.name }}</a>
            posted by <a
                    href="{{ path('user_show', {'username': post.author.username}) }}">{{ post.author.username }}</a>
        </span>
        <h1 class="mt-2">{{ post.title }}</h1>
        <p>{{ post.createdAt ? post.createdAt|date('d/m/Y à H:i:s') : '' }}</p>
        <hr>
        <p>{{ post.content }}</p>
        {% if(post.image is not null) %}
            <img src="{{ asset('uploads/images/posts/' ~ post.image) }}" alt="" width="400">
        {% endif %}
        <br/><br/>
        {% if app.user %}
            Comment as {{ app.user.username }}
            {{ render(url('message_new', {'post': post.id})) }}
        {% else %}
            <div class="mt-4">
                <span>What are your thoughts ? Log in or Sign up.</span>
                <span>
                    <a href="{{ path('security_login') }}" class="btn btn-navbar btn-outline-primary">LOG IN</a>
                    <a href="{{ path('security_register') }}" class="btn btn-navbar btn-primary">SIGN UP</a>
                </span>
            </div>
        {% endif %}
        <br/>
        <br/><br/>
        <div id="comments">
            {{ render(controller('App\\Controller\\MessageController::index')) }}
        </div>
        <br/>
        <a href="{{ path('post_edit', {'slug': post.slug, 'id': post.id}) }}">edit</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script>
        $('#form-comment-post').on('submit', function (ev) {
            ev.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{{ path('message_new', {'post': post.id}) }}',
                enctype: 'multipart/form-data',
                data: {
                    message: {
                        'content': $('#message_content').val(),
                        'imageFile': {
                            'file': $('#message_imageFile_file').val(),
                        },
                        '_token': $('#message__token').val(),
                    }
                },
                success: function (res) {
                    console.log(res);
                    $('#comments').empty().load('{{ path('message_index') }}')
                }
            })
        })
    </script>#}
{% endblock %}
