{{ form_start(form, {'attr': {'action': path('user_edit', {'username': user.username} ), 'id': 'form-user-edit'} }) }}
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.email) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.username) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.username) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.bio) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.bio) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.imageFile) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.imageFile.file) }}
        {% if(user.image is not null) %}
        {{ form_widget(form.imageFile.delete) }}
        {% endif %}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.plainpassword.first) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.plainpassword.first, {'required': false, 'attr': {'autocomplete': 'off'} }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label">{{ form_label(form.plainpassword.second) }}</label>
    <div class="col-md-9">
        {{ form_widget(form.plainpassword.second, {'required': false}) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label form-control-label"></label>
    <div class="col-md-9">
        <button type="submit" class="btn btn-primary">Save</button>
        <input type="reset" class="btn btn-secondary" value="Cancel">
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
