{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - profil{% endblock %}

{% block body %}
    {{ dump(user.activity) }}
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-10 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#messages" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                    </li>
                    {% if app.user == user %}
                    <li class="nav-item">
                        <a href="#edit" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h4 class="mb-4">{{ user.username }}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>About</h5>
                                <p>
                                    {{ user.bio }}
                                </p>
                                <p>
                                    Joined on {{ user.createdAt|date('m/d/Y') }}
                                </p>
                            </div>
                            <div class="col-md-8">
                                <h5><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                    {% for post in user.posts %}
                                        <tr>
                                            <td>
                                                {{ user.username }} posted in
                                                <strong>
                                                    <a href="{{ path('category_show', {'slug': post.subcategory.category.slug}) }}">{{ post.subcategory.category.name }}</a>
                                                    /
                                                    <a href="{{ path('subcategory_show', {'slug': post.subcategory.slug}) }}">{{ post.subcategory.name }}</a>
                                                </strong>
                                            </td>
                                            <td align="right">
                                                <small>{{ post.createdAt|timeago }}</small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>.
                            Use
                            this to show important messages to the user.
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to
                                    the
                                    latest summary report from the..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">Yesterday</span> There has been a request
                                    on
                                    your account since that was..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices
                                    quis,
                                    dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt
                                    ullamcorper
                                    eros eget luctus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for
                                    tibulum tincidunt ullamcorper eros.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if app.user == user %}
                    <div class="tab-pane" id="edit">
                        {{ render(controller(
                            'App\\Controller\\UserController::edit',
                            { 'username': user.username }
                        )) }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2 order-lg-1 text-center">
                {% if(user.image is not null) %}
                    <img src="{{ asset('uploads/images/posts/' ~ user.image) }}"
                         class="mx-auto img-fluid img-circle d-block" alt="avatar" width="400">
                {% else %}
                    <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#user_imageFile_file').on('change', function () {
            var filePath = $(this).val();
            fileSplit = filePath.split('\\');
            fileName = fileSplit[fileSplit.length - 1];
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}
